.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kvadrat1 {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kvadrat2 {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 213, 0);
    margin: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kvadrat3 {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 255, 102);
    margin: 10px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    
   
}

.kvadrat4 {
    width: 300px;
    height: 300px;
    background-color: rgb(51, 0, 255);
   
    border: 5px solid black;
    display: flex;
    flex-direction: column; /* Changed from row to column */
}

.header {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    height: 50px;
   
}

.opis1, .opis2, .opis3 {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.telo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.telce {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin: 5px; /* Add margin to space them out */
    /*dodajemo zakrivljenje ivica*/
    border-radius: 20px;
}

.dno {
    display: flex;
    border: 3px solid black;
    flex-direction:row;
    height: 50px;

}

.leva{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    height: 50px;
    width: 150px;
    
}

.desna{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    height: 50px;
    width: 150px;
    
}

.dugme{
    width: 150px;
    height: 20px;
    margin-top: 2px;
}


.kolona1 {
    display: flex;
    flex-direction:row;
    height: 150px;
    width: 300px;
    background-color: rgb(255, 213, 0);
    align-items: center;
    justify-content: center;
    
}

.d1 {
    
    height: 30px;
    flex: 2;
    margin-left: 10px;
    margin-right: 10px;

}
.d2{
    height: 30px;
    flex: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.kolona2{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 150px;
    
}

.ovde{
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 0, 0, 70%)
}

.d1, .d2{
    border-radius: 20px;
    border: none;
    color: red;
    background-color:blue;
}